* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    resize: none;
    color: #D9D9D9;
    font-family: "Helvetica", serif;
}

body {
    background-color: #000000;
    font-size: 2.2vh;
    display: block;
    overflow: auto;
}

/* Animation */

#conteneur-points {
    display: flex;
    position: absolute;
    width: 100%;
    top: 20%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.luisant {
    position: relative;
    min-width: 40vw;
    height: 40vw;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}

.luisant:nth-child(even) {
    transform-origin: left;
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

.luisant span {
    position: absolute;
    top: calc(3vh * var(--i));
    left: calc(3vw * var(--i));
    bottom: calc(3vh * var(--i));
    right: calc(3vw * var(--i));
}

.luisant span:before {
    content: '';
    position: absolute;
    top: 60%;
    left: -1vw;
    width: 1vw;
    height: 1vw;
    background-color: #f00;
    border-radius: 50%;
}

.luisant span:nth-child(3n+1):before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 1vw rgba(134,255,0,1),
                0 0 2vw rgba(134,255,0,1),
                0 0 3vw rgba(134,255,0,1),
                0 0 4vw rgba(134,255,0,1),
                0 0 0 0.45vw rgba(134,255,0,.1);
}

.luisant span:nth-child(3n+2):before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 1vw rgba(255,214,0,1),
                0 0 2vw rgba(255,214,0,1),
                0 0 3vw rgba(255,214,0,1),
                0 0 4vw rgba(255,214,0,1),
                0 0 0 0.45vw rgba(255,214,0,.1);
}

.luisant span:nth-child(3n+3):before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 1vw rgba(0,226,255,1),
                0 0 2vw rgba(0,226,255,1),
                0 0 3vw rgba(0,226,255,11),
                0 0 4vw rgba(0,226,255,1),
                0 0 0 0.45vw rgba(0,226,255,.1);
}

.luisant span:nth-child(3n+1) {
    animation: animate 10s alternate infinite;
}

.luisant span:nth-child(3n+2) {
    animation: animate-reverse 3s alternate infinite;
}

.luisant span:nth-child(3n+3) {
    animation: animate-reverse 8s alternate infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-reverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Menu */

#menu {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

/* Tweety */
#menu li:first-child {
    margin-right: auto;
    font-size: 3vh;
}

/* Déconnexion */
#menu li:last-child {
    margin-left: auto;
}

.menu-item {
    margin: 0 0.6vw;
    padding: 1vw;
}

/* Boutons */

.action {
    display: block;
    text-align: center;
    padding: 0.4vw 1.5vw 0.4vw 1.5vw;
    border-radius: 1rem;
    border-style: none;
    color: white;
    background-color: #1A91DA;
    font-weight: 600;
    cursor: pointer;
    font-size: 2.2vh;
}

.follow {
    color: #1A91DA;
    background-color: #000000;
    border-style: solid;
    border-color: #1A91DA;
}

section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2% 0;
}

/* Section formulaire */

#formulaire-tweet {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#formulaire-tweet textarea {
    width: 100%;
    height: 100%;
    border-style: none;
    background-color: #000000;
}

#formulaire-tweet textarea::placeholder {
    font-size: 2.2vh;
}

#formulaire-tweet .action {
    margin-left: auto;
}

#tweets {
    height: 80vh;
    width: 65%;
    overflow-y: scroll;
    border-style: solid;
    border-width: 0.2vh 0 0.2vh 0.2vh;
    border-color: #444444;
}

/* Section tweets */

#section-tweets {
    position: relative;
    z-index: 5;
}

#section-formulaire {
    position: relative;
    z-index: 5;
}

.tweet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1%;
    border-style: solid;
    border-width: 0 0 0.2vh 0;
    border-color: #444444;
}

section .tweet:last-child {
    border-width: 0;
}

.tweet div {
    margin: 0 1% 0 0;
}

/* Nom d'utilisateur */
.tweet div:first-child {
    font-weight: bold;
}

/* Bouton follow/unfollow */
.tweet .action {
}

/* Date */
.tweet div:nth-child(3) {
    margin-left: auto;
    font-size: 1.5vh;
}

/* Tweet */
.tweet div:last-child {
    width: 100%;
}

/* Footer */

footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 0.2%;
    justify-content: center;
}
